.App {
}

.dataBlock {
  height: calc(100vh - 50px);
  background: #555555;
  overflow-y: auto;

  .buttonBlock {
    display: flex;
    justify-content: space-between;
    .legend {
      display: flex;
      padding: 5px;
      align-items: center;
      margin-left: 30px;
      .color1 {
        padding: 0px 5px;
        background: #62A093;
        border-radius: 3px;
        margin-right: 10px;
      }
      .color2 {
        padding: 0px 5px;
        background: #BEA881;
        border-radius: 3px;
        margin-right: 10px;
      }
      .color3 {
        padding: 0px 5px;
        background: #406786;
        border-radius: 3px;
      }
    }
  }
  .selectButton {
    cursor: pointer;
    border: none;
    height: 40px;
    margin: 10px 10px 10px auto;
    border-radius: 10px;
    font-size: 20px;
  }
}
